

.page {
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  min-height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  background-color: #0F172A;
  color: white;
  overflow-x: hidden; /* Prevent horizontal scroll */
}



